<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f2f2f2;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 5px 5px 5px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 1px;
    background-color: #f2f2f2;
    padding: 25px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #56baed;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    position: relative;
    padding: 0px;
    text-align: center;
  }


  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
</style>

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190559575-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


</head>
<body>


  <div class="container">
    <form action="/action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="firstname" name="firstname" placeholder="Your first name..">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-25">
          <label for="lastname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lastname" name="lastname" placeholder="Your last name..">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-25">
         <label for="College">College</label>
       </div>
       <div class="col-75">
         <input type="text" id="college" name="college" placeholder="Your college...">
       </div>
     </div>

     <br>

     <div class="row">
      <div class="col-25">
       <label for="Major">Major</label>
     </div>
     <div class="col-75">
       <input type="text" id="major" name="major" placeholder="Your major...">
     </div>
   </div>

   <br>

   <div class="row">
    <div class="col-25">
      <label for="subject">About You</label>
    </div>
    <div class="col-75">
      <textarea id="bio" name="bio" placeholder="What would you like people to know about you?" style="height:60px"></textarea>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-25">
     <label for="Interests">Interests</label>
   </div>
   <div class="col-75">
     <input type="text" id="interests" name="interests" placeholder="What do you like to do for fun?">
   </div>
 </div>

 <br>

 <div class="row">
  <div class="col-25">
   <label for="Interests">Upload Resume</label>
 </div>
 <div class="col-75">
  <form action="/action_page.php"> 
   <input type="file" name="pic" accept="file_extension">

   <br> 

   <div class="wrapper fadeInDown">
    <div id="formContent">
      <input type="submit" class="fadeIn fourth" value="Create Account"   formaction="/myprofile">
    </div>
  </div>



</div>
</form>

</div>
</div>


</div>

</body>
</html>