<!doctype html>
<html>
<head>
	<title>Mentor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/top-navbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="/js/home.js"></script>

	<!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='190559575-1',d=document,l=d.location,c=d.cookie;
		if(l.search.indexOf('utm_expid='+k)>0)return;
		function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
			indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
			length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
			'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
			'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
			'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
			valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
			'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

</head>

<style>

	html {
		scroll-behavior: smooth;
	}

	.jumbotron{
		background-color: #f6f6f6;
		color: black;
		padding: 76px 25px;
		font-family: Lora;
	}


	.downarrow a {
		font-size: 65px;
		color: black;
		text-align: center;
	}

	.downarrow2 a {
		font-size: 55px;
		color:black;
	}

	.container-fluid {
		padding: 60px 50px;
		background-color: #f6f6f6;
		font-family: Lora;
	}

	.bg-grey {
		background-color: white;
		font-family: Lora;
	}


	.logo {
  		color: #8E4444;
  		font-size: 200px;
	}

	@media screen and (max-width: 768px) {
		.col-sm-4 {
			text-align: center;
			margin: 25px 0;
		}
	}

	span.step {
  		background: #8E4444;
  		border-radius: 0.8em;
  		-moz-border-radius: 0.8em;
  		-webkit-border-radius: 0.8em;
  		color: white;
  		display: inline-block;
  		font-weight: bold;
  		line-height: 1.6em;
  		margin-right: 5px;
  		text-align: center;
  		width: 1.6em; 
	}
</style>

<body>
	<div class="topnav">
		<p>Home</p>
	</div>

	<div class="jumbotron text-center">
		<h1>Welcome to Mentor!</h1>
		<img src="https://static.thenounproject.com/png/384823-200.png" alt="Avatar" class="avatar">
		<p>Connect deeper</p>

		<div class="downarrow">
			<a href="#section2"><i class="fa fa-angle-double-down"></i></a>
		</div>
	</div>

	<div class="container-fluid bg-grey" id="section2">
		<div class="row">
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-transfer logo"></span>
			</div>
			<div class="col-sm-8">
				<h2>About Mentor</h2>
				<h4><strong>MISSION:</strong> Connecting students to mentors in their career path</h4>
				<p><strong>VISION:</strong> We aim to provide available resources and opportunities for students to figure out what they are passionate about and the means in which they can achieve their career goals.</p>

				<div class="downarrow2 text-center">
					<a href="#section3"><i class="fa fa-angle-double-down"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid text-center" id="section3">
		<h2>CONNECT TODAY</h2>
		<h4>How it works</h4>
		<div class="row">
			<div class="col-sm-4">
				<span class="step">1</span>
				<h4>SEARCH</h4>
				<p>Search for a mentor based on location, profession, or name.</p>
			</div>
			<div class="col-sm-4">
				<span class="step">2</span>
				<h4>EXPLORE</h4>
				<p>Explore through the different mentors.</p>
			</div>
			<div class="col-sm-4">
				<span class="step">3</span>
				<h4>SELECT</h4>
				<p>Select a mentor of your choosing.</p>
			</div>
			<div class="col-sm-4">
				<span class="step">4</span>
				<h4>MESSAGE</h4>
				<p>Message the mentor to learn more about their profession.</p>
			</div>
			<div class="col-sm-4">
				<span class="step">5</span>
				<h4>CONNECT</h4>
				<p>Connect with the mentor and build relationships.</p>
			</div>
			<br>
		</div>
	</div>


<!-- Navigation Bar -->

    <div class="icon-bar">
        <a class="active" href=/home><i class="fa fa-home"></i></a>
        <a href="/search"><i class="fa fa-search"></i></a>
        <a href="/messages"><i class="fa fa-commenting-o"></i></a>
        <a href="/myprofile"><i class="fa fa-user-circle"></i></a>
    </div>

</body>
</html>