<!doctype html>
<html>
<head>
	<title>Mentor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/top-navbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />

	<!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='190559575-1',d=document,l=d.location,c=d.cookie;
		if(l.search.indexOf('utm_expid='+k)>0)return;
		function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
			indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
			length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
			'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
			'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
			'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
			valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
			'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

</head>

<style>

	.jumbotron{
		background-color: #8A4242;
		color: #ffffff;
		padding: 92px 25px;
	}

	.container-fluid {
		padding: 60px 50px;
	}

	.bg-grey {
		background-color: #f6f6f6;
	}

	.logo-small {
  		color: #f4511e;
  		font-size: 50px;
	}

	.logo {
  		color: #f4511e;
  		font-size: 200px;
	}

	@media screen and (max-width: 768px) {
		.col-sm-4 {
			text-align: center;
			margin: 25px 0;
		}
	}
</style>

<body>
	<div class="topnav">
		<p>Home</p>
	</div>

	<div class="jumbotron text-center">
		<h1>Welcome to Mentor!</h1>
		<img src="https://static.thenounproject.com/png/384823-200.png" alt="Avatar" class="avatar">
		<p>Connect deeper</p>

		<div class="downarrow">
			
		</div>
	</div>



	<div class="container-fluid text-center">
		<div class="row">
			<div class=col-sm-4">
				<span class="glyphicon glyphicon-signal logo"></span>
			</div>
			<div class="col-sm-8">
				<h2>About Company Page</h2>
				<h4>Lorem ipsum..</h4>
				<p>Lorem ipsum..</p>
				<button class="btn btn-default btn-lg">Get in Touch</button>
			</div>
			
		</div>
	</div>

	<div class="container-fluid bg-grey">
		<div class="row">
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-globe logo"></span>
			</div>
			<div class="col-sm-8">
				<h2>Our Values</h2>
				<h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
				<p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
			</div>
		</div>
	</div>

	<div class="container-fluid text-center">
		<h2>SERVICES</h2>
		<h4>What we offer</h4>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-off"></span>
				<h4>POWER</h4>
				<p>Lorem ipsum dolar sit amet..</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-heart"></span>
				<h4>LOVE</h4>
				<p>Lorem ipsum dolar sit amet..</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-lock"></span>
				<h4>JOB DONE</h4>
				<p>Lorem ipsum dolar sit amet..</p>
			</div>
		</div>
	</div>


<!-- Navigation Bar -->
    <div class="icon-bar">
        <a class="active" href=/home><i class="fa fa-home"></i></a>
        <a href="/search"><i class="fa fa-search"></i></a>
        <a href="/messages"><i class="fa fa-commenting-o"></i></a>
        <a href="/myprofile"><i class="fa fa-user-circle"></i></a>
    </div>

</body>
</html>