<!doctype html>

<html>
<head>
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="css/index.css">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />

<h1> Mentor </h1>

  {{> facebook}}
  <script src="/js/facebook.js"></script>

 <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190559575-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

</head>

<body style="background-color:#8E4444;">

  <!------ Include the above in your HEAD tag ---------->

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://static.thenounproject.com/png/384823-200.png" alt="Avatar" class="avatar">
      </div>

      <!-- Login Form -->
      <div class="form">
        <form>
          <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="login" formaction="/home">
        </form>
      </div>


      <p class="facebookLogin">
        <fb:login-button size="Xlarge" scope="public_profile,email" onlogin="checkLoginState()" onclick="/home.handlebars">
        </fb:login-button>   
    </p>


    
    <br>




    <div id="formFooter">
      <a class="underlineHover" href="/createaccount">Create Account </a>

    </div>

  </div>
</div>

</body>
</html>
