<!doctype html>
<html>

<head>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>

	<link rel="stylesheet" href="/css/mentor-nameCSS.css"/>
	<link rel="stylesheet" href="/css/navbar.css">

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />

	<script src="/js/mentor-nameJS.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">


	<script type="text/javascript">
		function openTab(th)
		{
			window.open(th.name,'_blank');
		}
	</script>

	<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190559575-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


</head>

<body>
	<div class="container">
		<div class="back">
			<a href="/searchresults/page_A" class="previous">&laquo; Back</a>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">

					<div class="card-body">
						<div class="card-title mb-4">
							<div class="d-flex justify-content-start">
								<div class="image-container">
									<img src="https://wealth.bmoharris.com/media/banker_photo/Suzie-Eyrich.jpg.375x375_q99_box-0%2C0%2C2400%2C2400_crop_detail.jpg" id="imgProfile" style="width: 200px; height: 200px" class="img-thumbnail" class="responsive"/>

								</div>
								<div class="userData ml-3">
									<h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Abigail Mills</a></h>

									</div>

								</div>
							</div>





							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
									<label style="font-weight:bold;">Job</label>
								</div>
								<div class="col-md-8 col-6">
									Computer Systems Analyst
								</div>
							</div>
							<hr />


							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
									<label style="font-weight:bold;">Company</label>
								</div>
								<div class="col-md-8 col-6">
									System Vault
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
									<label style="font-weight:bold;">About Me</label>
								</div>
								<div class="col-md-8 col-6">
									I graduated from Harvard University and my dream since I was a little girl was to be a Computer Systems Analyst.
								</div>
							</div>
							<hr />

<!--
							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
									<label style="font-weight:bold;">Interests</label>
								</div>
								<div class="col-md-8 col-6">
									Hiking, Surfing, Cooking
								</div>
							</div>

							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
		
									<input type="button" value="Resume/CV" style="font-weight:bold;" onclick="window.open('https://www.pdfonline.com/japan/easyconverter/sdk/pdf-to-word/conversion-samples/resumetemplate.pdf','_blank')">
								</div>
								
							</div>
						-->


						<hr />

					</div>

				</div>
			</div>
		</div>


	</div>


</div>

<button class="open-button" onclick="openForm()">Connect Me!</button>
<div class="chat-popup" id="myForm">
	<form onsubmit="whateverFunction(); return false;" class="form-container">
		<h1>Connect Me!</h1>

		<label for="msg"><b>Message</b></label>
		<textarea placeholder="Type message.." name="msg" required></textarea>

		<button type="submit" class="btn" onclick="myFunction()">Send</button>
		<div id="snackbar">Your message was sent!</div>

		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
	</form>
</div>

</div>

<div class="icon-bar">
	<a href=/home><i class="fa fa-home"></i></a>
	<a href="/search"><i class="fa fa-search"></i></a>
	<a href="/messages"><i class="fa fa-commenting-o"></i></a>
	<a class="active" href="/myprofile"><i class="fa fa-user-circle"></i></a>
</div>	

</body>


</html>