<!doctype html>
<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/messagesCSS.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/top-navbar.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/messagesJS.js"></script> 
	
   <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190559575-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->  
</head>

<body>
            <div class="topnav">
                <p>Messages</p>
            </div> 
               
	<div class="container">
		<div class="jumbotron">
			
                <!--<h1> <i class="fa fa-commenting-o" aria-hidden="true"></i> Messages</h1>-->

		</div>

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<div id="chatbox">
    <div id="friends">
        <div class="friend">
            <img src="https://wealth.bmoharris.com/media/banker_photo/Suzie-Eyrich.jpg.375x375_q99_box-0%2C0%2C2400%2C2400_crop_detail.jpg" />
            <p>
             <strong>Abigail Mills</strong>
             <span>abigailmills@gmail.com</span>
            </p>
            <div class="status available"></div>
        </div>
            
        <div class="friend">
            <img src="https://wealth.bmoharris.com/media/banker_photo/richard-immesberger.jpg.375x375_q99_box-0%2C270%2C1800%2C2070_crop_detail.jpg" />
            <p>
            <strong>Mateo Little</strong>
            <span>mateolittle@gmail.com</span>
            </p>
            <div class="status available"></div>
         </div>
            
        <div class="friend">
           	<img src="https://intellyx.com/wp-content/uploads/2017/11/rai-375x375.jpg" />
            <p>
            <strong>Elliott Bernal</strong>
            <span>elliottbernal@gmail.com</span>
            </p>
            <div class="status inactive"></div>
        </div>
            
        <div class="friend">
            <img src="https://parkcitycf.org/morelliawardees/fiveash1-2/" />
            <p>
            <strong>Kiefer Barron</strong>
            <span>kieferbarron@gmail.com</span>
            </p>
            <div class="status inactive"></div>
        </div>
            
        <div class="friend">
            <img src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1200x1200.jpg" />
            <p>
            <strong>Heather Morse</strong>
            <span>heathermorse@gmail.com</span>
            </p>
            <div class="status inactive"></div>
        </div>
            
            
    </div>              
   
    <div id="chatview" class="p1">      
        <div id="profile">

            <div id="close">
                <div class="cy"></div>
                <div class="cx"></div>
            </div>
            
            <p>Miro Badev</p>
            <span>miro@badev@gmail.com</span>
        </div>
        <div id="chat-messages">
            <label>Wednesday 13</label>
            
     
            <div class="message right" id="rightmessage">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqPgOH0njEY3NvX_8SkzJdA73JPgl-H97HXJJCR1yIOqpjX_zdfg"/>
                <div class="bubble">
                    Hi. I'm an aspiring designer.
                    <div class="corner"></div>
                    <span>10 min</span>
                </div>
            </div>
            
            <div class="message">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                <div class="bubble">
                    Hello. How can I help you?
                    <div class="corner"></div>
                    <span>7 minutes</span>
                </div>
            </div>


            
        </div>
        
        <div id="sendmessage">
            <input type="text" id="myMessage" value="Send message..." />
            <button id="send"></button>
        </div>



    </div>    

    

</div>
    <!-- Navigation Bar -->
    <div class="icon-bar">
        <a href="/search"><i class="fa fa-search"></i></a>
        <a class="active" href="/messages"><i class="fa fa-commenting-o"></i></a>
        <a href="/myprofile"><i class="fa fa-user-circle"></i></a>
    </div>
</div>

</body>
</html>