<!doctype html>
<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/messagesCSS.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/messagesJS.js"></script> 
	
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1> <i class="fa fa-commenting-o" aria-hidden="true"></i> Messages</h1>
		</div>

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<div id="chatbox">
    <div id="friends">
        <div class="friend">
            <img src="https://d3n8a8pro7vhmx.cloudfront.net/nationalparty/pages/5244/attachments/original/1520903034/20._Dowie_Sarah.png?1520903034" />
            <p>
             <strong>Abigail Mills</strong>
             <span>abigailmills@gmail.com</span>
            </p>
            <div class="status available"></div>
        </div>
            
        <div class="friend">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
            <p>
            <strong>Martin Joseph</strong>
            <span>marjoseph@gmail.com</span>
            </p>
            <div class="status available"></div>
         </div>
            
        <div class="friend">
           	<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3_copy.jpg" />
            <p>
            <strong>Tomas Kennedy</strong>
            <span>tomaskennedy@gmail.com</span>
            </p>
            <div class="status inactive"></div>
        </div>
            
        <div class="friend">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/4_copy.jpg" />
            <p>
            <strong>Enrique Sutton</strong>
            <span>enriquesutton@gmail.com</span>
            </p>
            <div class="status inactive"></div>
        </div>
            
        <div class="friend">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/5_copy.jpg" />
            <p>
            <strong>Darnell Strickland</strong>
            <span>darnellstrickland@gmail.com</span>
            </p>
            <div class="status inactive"></div>
        </div>
            
            
    </div>              
   
    <div id="chatview" class="p1">      
        <div id="profile">

            <div id="close">
                <div class="cy"></div>
                <div class="cx"></div>
            </div>
            
            <p>Miro Badev</p>
            <span>miro@badev@gmail.com</span>
        </div>
        <div id="chat-messages">
            <label>Wednesday 13</label>
            
     
            <div class="message right" id="rightmessage">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqPgOH0njEY3NvX_8SkzJdA73JPgl-H97HXJJCR1yIOqpjX_zdfg"/>
                <div class="bubble">
                    Hi. I'm an aspiring designer.
                    <div class="corner"></div>
                    <span>10 min</span>
                </div>
            </div>
            
            <div class="message">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                <div class="bubble">
                    Hello. How can I help you?
                    <div class="corner"></div>
                    <span>7 minutes</span>
                </div>
            </div>


            
        </div>
        
        <div id="sendmessage">
            <input type="text" id="myMessage" value="Send message..." />
            <button id="send"></button>
        </div>



    </div>    

    

</div>
    <!-- Navigation Bar -->
    <div class="icon-bar">
        <a href="/search"><i class="fa fa-search"></i></a>
        <a class="active" href="/messages"><i class="fa fa-commenting-o"></i></a>
        <a href="/myprofile"><i class="fa fa-user-circle"></i></a>
    </div>
</div>

</body>
</html>