<!doctype html>
<html>

<head>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/myprofileCSS.css"/>
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/top-navbar.css">

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />

	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190559575-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
</head>

<body>

    <div class="topnav">
        <p>My Profile</p>
    </div> 


	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card">

					<div class="card-body">
						<div class="card-title mb-4">
							<div class="d-flex justify-content-start">
								<div class="image-container">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqPgOH0njEY3NvX_8SkzJdA73JPgl-H97HXJJCR1yIOqpjX_zdfg" id="imgProfile" style="width: 200px; height: 250px" class="img-thumbnail" />
								</div>
								<div class="userData ml-3">
									<h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Jenny Doe</a></h2>
								</div>
							</div>
						</div>


							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
									<label style="font-weight:bold;">College</label>
								</div>
								<div class="col-md-8 col-6">
									University of California, San Diego
								</div>
							</div>
							<hr />


							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
									<label style="font-weight:bold;">Major</label>
								</div>
								<div class="col-md-8 col-6">
									Cognitive Science
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
									<label style="font-weight:bold;">About Me</label>
								</div>
								<div class="col-md-8 col-6">
									I'm a third year student who loves to hike and explore new places!
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-3 col-md-2 col-5">
									<label style="font-weight:bold;">Interests</label>
								</div>
								<div class="col-md-8 col-6">
									Hiking, Surfing, Cooking
								</div>
							</div>
							<hr />
							<div class="row">

								
								<!-- Trigger/Open The Modal -->
								<button id="myBtn" label style="font-weight:bold;">Resume/CV</button>

								<!-- The Modal -->
								<div id="myModal" class="modal">

									<!-- Modal content -->
									<div class="modal-content">
										<span class="close">&times;</span>
										<p>Your Resume Here!</p>
									</div>

								</div>

							</div>
						</div> <hr />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</div>



<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
	modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
	modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
</script>	

<div class="icon-bar">
	<a href=/home><i class="fa fa-home"></i></a>
	<a href="/search"><i class="fa fa-search"></i></a>
	<a href="/messages"><i class="fa fa-commenting-o"></i></a>
	<a class="active" href="/myprofile"><i class="fa fa-user-circle"></i></a>
</div>

</body>


</html>