/* Navigation Bar */
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #424949; /* Dark-grey background */
  overflow: hidden; /* Overflow due to float */
  bottom: 0;
  position: fixed;
  margin-left:0px;
  height: 75px;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 33%; /* Equal width (3 icons with 33% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: black; /* Add a hover color */
}

.active {
  background-color: #2874A6; /* Add an active/current color */
}