* {
    box-sizing: border-box;
  }

  body {
    /*font: 16px Arial;  */
    margin:2px;
    background: white;
    font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  .paragraph {
    margin:30px;
    font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  .jumbotron {
    background: lightgray;
    font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }

  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }

  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }

  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }

  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }



.helpr-section {
    
    background: #f6f6f6 url('https://png.pngtree.com/element_origin_min_pic/16/10/03/2057f253a700aac.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 70;
    
}



.helpr-title {
    padding: 100px 0 85px;
    font-size: 40px;
    line-height: 20px;
    -webkit-text-shadow: 0 4px 6px rgba(0,0,0,.20);
    -moz-text-shadow: 0 4px 6px rgba(0,0,0,.20);
    text-shadow: 0 4px 6px rgba(0,0,0,.20);
    font-family: 'LatoWebBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #555;
    margin: 0;
    position: relative;
}

.helpr-text {
    height: 690px;
}







