/* body {margin:0;} */

body {
  overflow: scroll;
  margin-left: 0px;
}

/*Back button */
#back {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #2874A6;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

img {
  height: 200px;
  object-fit:cover;
  width:200px;

}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-right: 150px;
}

.container {
  margin-left: 30px;
}

.mentors {
	max-width: 320px; 
}


/* in case JSON file doesn't work */
.mentor-container {
	width: 320px;
}

.mentor-container img {
	max-height: 100%;
	max-width: 100%;

}

/* Navigation Bar */
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #424949; /* Dark-grey background */
  overflow: hidden; /* Overflow due to float */
  bottom: 0;
  position: fixed;
  margin-left:0px;
  height: 75px;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 33%; /* Equal width (3 icons with 33% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: black; /* Add a hover color */
}

.active {
  background-color: #2874A6; /* Add an active/current color */
}
