/* PAGE A */

body {
  overflow: scroll;
  margin-left: 0px;
  font-family: Lora;
}


img {
  height: 200px;
  object-fit:cover;
  width:200px;

}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Lora;
}

p {
  font-family: Lora;
}

h3 {
  font-family: Lora;
  margin-right: 150px;
}

.container {
  margin-left: 30px;
}

.mentors {
	max-width: 320px; 
}

.mentors h3{
  font-family: Lora;
}


/* PAGE B */
.profile-teaser-left {
    float: left; 
    width: 30%; 
    margin-right: 1%;
}
.profile-img img {
    width: 100%; height: auto;
}

.blank-space {
  float: left;
  width: 10%;
}

.profile-teaser-main {
    float: left; 
    width: 59%;
}

.info { 
  display: inline-block; 
  margin-right: 10px; 
  color: #777; 
  font: 10em;
  font-size: 15px;
}

.info span { 
  font-weight: bold; 
}


.profile-name {
  font-size: 25px;
}






/*Back button */
#back {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #2874A6;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


