/* Add a black background color to the top navigation */
.topnav {
  background-color: #424C55;
  overflow: hidden;
  height:60px;
}

/* Style the words inside the navigation bar */
.topnav p {
  float: center;
  color: #f2f2f2;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: Lora;
  margin-top: 2px;
  text-align: center;
}

.topnav a {
  float: left;
  margin-top: 3px;
  color: #f2f2f2;
  font-family: Lora;
}

.btn-back {
    position: absolute;
    color: #fff;
    line-height: 50px;
    top: 0;
    left: 10px;
    z-index: 6;
    font-size: 16px;
}